@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
}

article {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    border-style: solid;
    border-color: hsl(0, 0%, 7%);
    max-width: 450px;
    padding: 5%;
    box-shadow: 10px 10px;
}

.img_main {
    display: block;
    height: auto;
    border-radius: 15px;
}

p {
    font-size: 14pt;
    font-family: 'Figtree';
    color: hsl(0, 0%, 7%);
}

.title {
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    width: fit-content;
    padding: 10px;
    font-size: medium;
}

.date {
    font-weight: 500;
    font-size: medium;
}

h1 {
    font-family: 'Figtree';
    font-weight: bolder;
}

h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.description {
    color: hsl(0, 0%, 50%);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_footer {
    width: 50px;
    height: 50px;
}

.author {
    font-weight: 800;
    padding: 10px;
    font-size: medium;
}

@media screen and (max-width: 780px) {
    article {
        width: 75%;
        max-width: 450px;
        margin: auto;
    }

}